<%# %>
<%# Amazon Payments - Login and Pay for Spree Commerce %>
<%# %>
<%# @category    Amazon %>
<%# @package     Amazon_Payments %>
<%# @copyright   Copyright (c) 2014 Amazon.com %>
<%# @license     http://opensource.org/licenses/Apache-2.0  Apache License, Version 2.0 %>
<%# %>
<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:amazon_settings) %>
<% end %>

<%= form_tag admin_amazon_path, :method => :put do %>
  <div id="preferences" data-hook>
    <fieldset class="general no-border-top">
      <div class="field">
        <%= label_tag "Amazon Client Id" %>
        <%= text_field_tag :client_id, SpreeAmazon::Config[:client_id], class: 'fullwidth' %>
      </div>

      <div class="field">
        <%= label_tag "Amazon Seller Id" %>
        <%= text_field_tag :merchant_id, SpreeAmazon::Config[:merchant_id], class: 'fullwidth' %>
      </div>

      <div class="field">
        <%= label_tag "Amazon MWS Access Key" %>
        <%= text_field_tag :aws_access_key_id, SpreeAmazon::Config[:aws_access_key_id], class: 'fullwidth' %>
      </div>

      <div class="field">
        <%= label_tag "Amazon MWS Secret Key" %>
        <%= text_field_tag :aws_secret_access_key, SpreeAmazon::Config[:aws_secret_access_key], class: 'fullwidth' %>
      </div>

      <div class="field">
        <%= label_tag "Amazon Callback Url" %>
        <%= text_field_tag :amazon_callback_url, spree.amazon_callback_url, class: 'fullwidth', disabled: true %>
      </div>

      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'save' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), edit_admin_general_settings_url, icon: 'delete' %>
      </div>
    </fieldset>
  </div>
<% end %>
