<%# %>
<%# Amazon Payments - Login and Pay for Spree Commerce %>
<%# %>
<%# @category    Amazon %>
<%# @package     Amazon_Payments %>
<%# @copyright   Copyright (c) 2014 Amazon.com %>
<%# @license     http://opensource.org/licenses/Apache-2.0  Apache License, Version 2.0 %>
<%# %>

<%
  gateway = Spree::Gateway::Amazon.for_currency(current_order(create_order_if_necessary: true).currency)
  button_type = 'PwA' unless local_assigns[:button_type]
  return_path = '/amazon_order/address' unless local_assigns[:return_path]
%>

<script type='text/javascript'>
  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId('<%= gateway.preferred_client_id %>');
    <% if gateway.preferred_site_domain.present? %>
      amazon.Login.setSiteDomain('<%= gateway.preferred_site_domain %>');
    <% end %>
  };
</script>

<%= javascript_include_tag gateway.widgets_url %>

<div id="AmazonPayButton"></div>

<script type="text/javascript">
  var authRequest;
  OffAmazonPayments.Button("AmazonPayButton", "<%= gateway.preferred_merchant_id %>", {
    type: '<%= button_type %>',
    authorization: function() {
      loginOptions =
        {scope: "profile postal_code payments:widget payments:shipping_address", popup: "true"};
      authRequest = amazon.Login.authorize (loginOptions, '<%= return_path %>');
    },
    onError: function(error) {
      // your error handling code
    }
  });
</script>
