<%# %>
<%# Amazon Payments - Login and Pay for Spree Commerce %>
<%# %>
<%# @category    Amazon %>
<%# @package     Amazon_Payments %>
<%# @copyright   Copyright (c) 2014 Amazon.com %>
<%# @license     http://opensource.org/licenses/Apache-2.0  Apache License, Version 2.0 %>
<%# %>

<%
  gateway = Spree::Gateway::Amazon.for_currency(current_order(create_order_if_necessary: true).currency)
  button_type = 'PwA' unless local_assigns[:button_type]
  return_path = '/amazon_order/address' unless local_assigns[:return_path]
%>

<script type='text/javascript'>
  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId('<%= gateway.preferred_client_id %>');
    <% if gateway.preferred_site_domain.present? %>
      amazon.Login.setSiteDomain('<%= gateway.preferred_site_domain %>');
    <% end %>
  };
</script>

<%= javascript_include_tag gateway.widgets_url %>
<div id="AmazonOverlay" class="hidden" style="background-color: rgba(80,80,80,0.5); width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 100;">
  <div class="row column amazon-centraliser">
    <div class="medium-offset-4 medium-3 small-12">
        <div class="callout">
          Processing Amazon Login...<br/><br/><a id="closeOverlay" href="#">Close</a>
        </div>
    </div>
  </div>
</div>
<div id="AmazonPayButton"></div>
<script type="text/javascript">
  console.log(OffAmazonPayments);
  var authRequest;
  OffAmazonPayments.Button("AmazonPayButton", "<%= gateway.preferred_merchant_id %>", {
    type: '<%= button_type %>',
    authorization: function() {
      loginOptions =
        {scope: "profile postal_code payments:widget payments:shipping_address payments:billing_address", popup: "true"};
      authRequest = amazon.Login.authorize (loginOptions, '<%= return_path %>');
    },
    onError: function(error) {
      // your error handling code
    }
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#AmazonPayButton").on("click", function() {
      $("#AmazonOverlay").removeClass("hidden");
      $("body").css("overflow","hidden");
    });

    $("#closeOverlay").on("click", function() {
      $("#AmazonOverlay").addClass("hidden");
      $("body").css("overflow","auto");
    });
  });
</script>
